<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Departamento: {{dpto.nombre}}</h2>
    <p>id: {{dpto.id}}</p>
    ñá
    <h2>Empleados: {{dpto.empleado_set.all.count}}</h2>
    {% for emp in dpto.empleado_set.all %}
        <h3>nombre: {{emp.nombre}}-{{emp.apellido }}</h3>
    {% endfor %}
</body>
</html>